<html>
    <header>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Acme Users PG</title>
        <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    </header>
    <body>
        <div class='container'>
            <h1>Acme Users PG</h1>

            <div>
                {% block home %}
                    <h2>Users Tabs</h2>
                {% endblock %}
            </div>
        </div>
        <script src='/vendor/jquery/dist/jquery.min.js'></script>
        <!-- <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script> -->
    </body>
</html>
